.cvr-logo {
    width: 100%;
}

.beta-text {
    color: #CC2222;
}

.mrc-logo {
    height: 80px;
    padding-left: 0px;
}

.ibahcm-logo {
    height: 65px;
    padding-left: 20px;
}

.apha-logo {
    height: 80px;
    padding-left: 20px;
}

.bohvm-logo {
    height: 80px;
    padding-left: 20px;

}

.footer-font-12 {
    font-size: 14px;
}