/* styles.css */
.nav-pills .nav-link {
  border-radius: 3px;
  margin-bottom: 4px;
  color: var(--secondary);
}

.nav-pills .nav-link.active {
  background-color: var(--secondary);
  color: white;
}

.tab-content {
  padding-left: 40px;
}

/* .code-block {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;
  font-size: 0.9rem;
  white-space: pre-wrap;
} */
/* CodeBlock.css */
.code-block {
  background-color: #f5f5f5; /* light grey background */
  color: #333;               /* dark text */
  border: 1px solid #ddd;     /* subtle border */
  border-radius: 6px;
  padding: 12px 16px;
  font-family: 'Fira Code', monospace;
  font-size: 0.95rem;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.code-block pre {
  margin: 0;
}

.code-block code {
  white-space: pre-wrap;
}

.vert-nav {
  min-width: 250px;
}