.cvr-logo {
    width: 100%;
}

.beta-text {
    color: #CC2222;
}

.mrc-logo {
    height: 50px;
    padding-left: 0px;
}

.ibahcm-logo {
    height: 65px;
    padding-left: 20px;
}

.apha-logo {
    height: 80px;
    padding-left: 20px;
}

.bohvm-logo {
    height: 70px;
    padding-left: 20px;

}

.footer-font-12 {
    font-size: 14px;
}

.team-card {
    width: fit-content;
    height: fit-content;
}

.mrc-logo,
.bohvm-logo {
    display: block; /* removes image bottom whitespace */
    max-width: 100%;
    /* height: auto; */
    height: 70px;
}